<!--
  Base UI (free tier) — https://base-ui.net
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/lussos/base-theme/blob/main/LICENSE.md
-->
<base-card class="mb-8">
        <div class="flex justify-between items-center px-6 py-4 border-b border-slate-100 dark:border-slate-800">
          <h3 class="font-bold text-sm text-slate-900 dark:text-white">Shipping Info</h3>
          <div class="flex gap-2 items-center">
            <base-icon name="check-circle" class="w-4 h-4 stroke-green-500"></base-icon>
            <div
              class="w-4 h-4 rounded-full bg-slate-100 dark:bg-slate-800 flex items-center justify-center text-[10px] font-bold text-slate-400">
              2</div>
            <base-icon name="x" class="w-4 h-4 stroke-slate-400"></base-icon>
          </div>
        </div>
        <base-card-body class="p-6 flex flex-col flex-1">
          <div class="flex gap-4 mb-6">
            <button
              class="flex-1 py-3 px-4 rounded-[12px] border border-slate-900 dark:border-white text-[10px] font-bold uppercase tracking-widest text-slate-900 dark:text-white">Free
              Delivery</button>
            <button
              class="flex-1 py-3 px-4 rounded-[12px] border border-slate-200 dark:border-slate-700 text-[10px] font-bold uppercase tracking-widest text-slate-400">Express
              Delivery ($12.00)</button>
          </div>

          <base-input-group class="mb-4">
            <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Shipping
              Address</base-label>
            <input base-input placeholder="Street address or P.O. box" />
          </base-input-group>

          <div class="flex gap-4 mb-4">
            <base-input-group class="flex-1">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">First Name</base-label>
              <input base-input placeholder="First Name" />
            </base-input-group>
            <base-input-group class="flex-1">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Last Name</base-label>
              <input base-input placeholder="Last Name" />
            </base-input-group>
          </div>

          <div class="flex gap-4 mb-4">
            <base-input-group class="flex-1">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Phone</base-label>
              <input base-input placeholder="Phone" />
            </base-input-group>
            <base-input-group class="flex-1">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Email</base-label>
              <input base-input placeholder="Email" />
            </base-input-group>
          </div>

          <div class="flex gap-4 mb-4">
            <base-input-group class="flex-1">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Country</base-label>
              <select base-input class="appearance-none">
                <option>United States</option>
              </select>
              <base-icon base-addon-end name="chevron-down"
                class="w-4 h-4 text-slate-400 mr-3 pointer-events-none absolute right-0 top-1/2 -translate-y-1/2"></base-icon>
            </base-input-group>
            <base-input-group class="flex-1">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">State</base-label>
              <select base-input class="appearance-none">
                <option>California</option>
              </select>
              <base-icon base-addon-end name="chevron-down"
                class="w-4 h-4 text-slate-400 mr-3 pointer-events-none absolute right-0 top-1/2 -translate-y-1/2"></base-icon>
            </base-input-group>
          </div>

          <div class="flex gap-4 mb-4">
            <base-input-group class="flex-1">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">City</base-label>
              <select base-input class="appearance-none">
                <option>Palo Alto</option>
              </select>
              <base-icon base-addon-end name="chevron-down"
                class="w-4 h-4 text-slate-400 mr-3 pointer-events-none absolute right-0 top-1/2 -translate-y-1/2"></base-icon>
            </base-input-group>
            <base-input-group class="flex-1">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Zipcode</base-label>
              <input base-input placeholder="Zipcode" />
            </base-input-group>
          </div>

          <base-input-group class="mb-6 flex-1">
            <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Area</base-label>
            <textarea base-textarea rows="3" placeholder="Area"></textarea>
          </base-input-group>

          <div class="flex gap-4 mt-auto justify-between">
            <button base-stroked-button color="primary" class=" py-3">
              <base-icon name="arrow-left" class="-ml-2"></base-icon>
              Back
            </button>
            <button base-stroked-button color="primary" class=" py-3">Next Step
              <base-icon name="arrow-right" class="-mr-2"></base-icon>
            </button>
          </div>
        </base-card-body>
      </base-card>