<!--
  Base UI (free tier) — https://base-ui.net
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/lussos/base-theme/blob/main/LICENSE.md
-->
<base-card>
          <div class="p-8 flex flex-col h-full">
            <h3
              class="font-bold text-sm text-slate-900 dark:text-white mb-6 uppercase tracking-widest text-center">
              Login</h3>
            <base-input-group class="mb-4">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Email address</base-label>
              <input base-input placeholder="Email address" />
            </base-input-group>
            <base-input-group class="mb-4">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Password</base-label>
              <input base-input type="password" placeholder="Password" />
            </base-input-group>
            <div class="flex items-center justify-between mb-6">
              <base-checkbox class="text-xs text-slate-500">Keep me logged in</base-checkbox>
              <a href="#"
                class="!text-[10px] uppercase !font-light !tracking-[2px] text-slate-400 hover:text-slate-600 transition-colors">Forgot
                password?</a>
            </div>
            <button base-button color="primary" class="w-full py-3 mb-6 mt-auto">Sign In</button>
            <p class="text-center text-[10px] uppercase font-light text-slate-400 tracking-widest">Don't have an
              account?
              <a href="#" class="text-slate-900 dark:text-white">Sign up</a>
            </p>
          </div>
        </base-card>