<!--
  Base UI (free tier) — https://base-ui.net
  Free to use in unlimited projects. Do not redistribute this source as a library, kit, or template collection.
  Full license terms: https://github.com/lussos/base-theme/blob/main/LICENSE.md
-->
<base-card>
          <div class="p-8 flex flex-col h-full">
            <h3
              class="font-bold text-sm text-slate-900 dark:text-white mb-6 uppercase tracking-widest text-center">
              Sign Up</h3>
            <div class="flex gap-4 mb-4">
              <base-input-group class="flex-1">
                <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">First Name</base-label>
                <input base-input placeholder="First Name" />
              </base-input-group>
              <base-input-group class="flex-1">
                <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Last Name</base-label>
                <input base-input placeholder="Last Name" />
              </base-input-group>
            </div>
            <base-input-group class="mb-4">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Email address</base-label>
              <input base-input placeholder="Email address" />
            </base-input-group>
            <base-input-group class="mb-6">
              <base-label class="!text-[10px] uppercase !font-light !tracking-[2px]">Password</base-label>
              <input base-input type="password" placeholder="Password" />
            </base-input-group>
            <button base-button color="primary" class="w-full py-3 mb-6 mt-auto">Sign Up</button>
            <p class="text-center text-[10px] uppercase font-light text-slate-400 tracking-widest">Already have an
              account?
              <a href="#" class="text-slate-900 dark:text-white">Log in</a>
            </p>
          </div>
        </base-card>